In [ ]:
# importing required modules
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
# reading the daimond dataset 
path = '/content/diamonds.csv'
df = pd.read_csv(path,index_col=0)

df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
# converting categorical variables into numerical
object_cols = ['cut', 'color', 'clarity']
label_encoder = LabelEncoder()
for col in object_cols:
    df[col] = label_encoder.fit_transform(df[col])
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
2   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
3   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
4   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
5   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
X = df.drop("price", axis = "columns")
y = df["price"]

# splitting data into train (70%), validation (20%), test (10%) 
X_train, X_, y_train, y_ = train_test_split(X, y, test_size=0.3)
X_test, X_val, y_test, y_val = train_test_split(X_, y_, test_size=0.6)

print('train shape:', X_train.shape, y_train.shape)
print('validation shape:', X_val.shape, y_val.shape)
print('test shape:', X_test.shape, y_test.shape)

train shape: (37758, 9) (37758,)
validation shape: (9710, 9) (9710,)
test shape: (6472, 9) (6472,)

In [ ]:
# training and Prediction using Linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
print("MSE :", mean_squared_error(y_val,y_pred))
print("MAE :", mean_absolute_error(y_val,y_pred))

MSE : 1718159.157929172
MAE : 854.295345392529

In [ ]:
# training and Prediction using Decision regression model
model1 = DecisionTreeRegressor()
model1.fit(X_train, y_train)
y_pred1 = model1.predict(X_val)
print("MSE :", mean_squared_error(y_val,y_pred1))
print("MAE :", mean_absolute_error(y_val,y_pred1))

MSE : 564930.8421215242
MAE : 371.2263645726056

In [ ]:
# Predicting Price for test data
preds = model.predict(X_test)
preds1 = model1.predict(X_test)
print('prediction using linear regression\n',preds)
print('\nprediction using decision tree regression\n',preds1)

prediction using linear regression
 [1367.15220811  514.37334564 5181.01904895 ... 8234.28155112 3619.83702986
 4294.09950506]

prediction using decision tree regression
 [ 863.  827. 6263. ... 7518. 2551. 4702.]